/.cache/*
.lsp-session*
/.python-environments/*
/ac-comphist.dat
/anaconda-mode/*
/auto-save-list/*
/company-statistics-cache.el
/elpa/*
/eshell/*
/irony/*
/network-security.data
/places
/projectile*
/recentf
/session*
/smex-items
/srecode-map.el
/sync-files/*
/tramp
/transient
.dap*
/.extension
.mc-lists.el
/eln-cache
/projects
/quelpa
/history
lisp/theme.el
lisp/custom.el
custom.el
straight
bookmarks