/.python-environments/*
/ac-comphist.dat
/auto-save-list/*
/eshell/*
/elpa/*
/session*
/tramp
/recentf
/sync-files/*
/local/sys-conf.el
/local/local-config-loader.el
/local/package-list-setter.el
/network-security.data
